{% ckan_extends %}

{% block extras %}

  {% if c.current_release %}
      <tr>
        <th scope="row" class="dataset-label">{{ _("Version Created") }}</th>
        <td class="dataset-details">
            {% snippet 'snippets/local_friendly_datetime.html', datetime_obj=c.current_release.created %}
        </td>
      </tr>
      <tr>
        <th scope="row" class="dataset-label">{{ _("Version Updated") }}</th>
        <td class="dataset-details">
            {% snippet 'snippets/local_friendly_datetime.html', datetime_obj=c.current_release.created %}
        </td>
      </tr>
  {% endif %}

  {{ super() }}

{% endblock %}
