<div class="modal fade" id="compareReleasesModal" tabindex="-1" role="dialog" aria-labelledby="compareReleasesModalLabel">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <form class="compare-revisions-form" action="{{ h.url_for('versioning.changes', id=pkg.name) }}">
          <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
            <h4 class="modal-title" id="compareReleasesModalLabel">Compare revisions of dataset {{ pkg.title }}</h4>
          </div>
          <div class="modal-body">
            View changes from
              <select class="form-control select-time" name="revision_ref_1" data-module="releases-selector" data-module-dataset-id="{{ pkg.id }}">
              </select> to
              <select class="form-control select-time" name="revision_ref_2" data-module="releases-selector" data-module-dataset-id="{{ pkg.id }}" data-module-include-current="true">
              </select>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
            <button type="submit" class="btn btn-primary">Compare</button>
          </div>
        </form>
      </div>
    </div>
  </div>
