{% set pkg = c.pkg_dict %}
{% resource 'versioning/versioning.js' %}
{% resource 'versioning/releases-selector.js' %}

<div id="releases-container"
    data-module="dataset_versioning_controls"
    data-module-api-url="{{ h.url_for('api.action', ver=3, logic_function='') }}"
    data-module-package-id="{{ pkg.id }}"
    data-module-package-url="{{ h.url_for(controller='package', action='read', id=pkg.name) }}"
    data-module-link-resources="{{ h.tojson(h.dataset_has_link_resources(pkg)) }}"
  {% if c.current_release %}
    data-module-release='{{ h.tojson(c.current_release.name) }}'
  {% endif %}
>

  <h3>{{ _('Dataset Releases') }}</h3>
  <div id="release-list" class="release-list__container">
    <div class="release-list__loading">
      {{ _('Loading list of releases') }} ...
      <i class="fa fa-spinner fa-pulse"></i>
    </div>

    <table class="table table-striped table-bordered table-condensed release-list__list" style="display: none"
           aria-hidden="true">
      <thead>
        <tr>
          <th scope="col">{{ _('Name') }}</th>
          <th scope="col">{{ _('Description') }}</th>
          <th scope="col">{{ _('Published') }}</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <th scope="row" class="dataset-label release-list__release-name">
            <a href="{{ h.url_for_revision(pkg, release={'name': '__REVISION_REF__'}, route_name='versioning.show') }}"></a>
          </th>
          <td class="dataset-details release-list__release-description"></td>
          <td class="dataset-details release-list__release-timestamp"></td>
        </tr>
      </tbody>
    </table>

    <div class="release-list__no-releases" style="display: none" aria-hidden="true">
      <p>{{ _('This dataset does not have any releases') }}</p>
    </div>
  </div>

  {% if c.current_release %}
    {% if h.check_access('dataset_release_delete', {'dataset': pkg.id}) %}
      <button data-release-name="{{ c.current_release.name }}"
              data-dataset="{{ c.current_release.package_id }}"
              class="delete-release-btn btn btn-danger">
        <i class="fa fa-trash"></i>
        {{ _('Delete Version') }}
      </button>
    {% endif %}

    <div class="btn-toolbar pull-right">
      {% if h.check_access('dataset_release_create', {'dataset': pkg.id}) %}
      <div class="btn-group">
        <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#updateVersionModal">
          <i class="fa fa-edit"></i>
          {{ _('Edit Version Info') }}
        </button>
      </div>
      {% snippet 'package/snippets/update_version.html' %}
      {% endif %}
      {% if h.check_access('dataset_revert', {'dataset': pkg.id}) %}
      <div class="btn-group">
        <button data-revision-ref="{{ c.current_release.name }}"
                data-dataset="{{ c.current_release.package_id }}"
                class="revert-to-btn btn btn-primary btn-primary-">
          <i class="fa fa-undo"></i>
          {{ _('Revert to this Version') }}
        </button>
      </div>
      {% endif %}
    </div>

  {% else %}
    {% if h.check_access('dataset_release_create', {'dataset': pkg.id}) %}
      <!-- Button trigger modal -->
      <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#createReleaseModal">
        {{ _('Create Release') }}
      </button>

      {% snippet 'package/snippets/create_release.html' %}
    {% endif %}

    {% if h.check_access('dataset_release_diff', {'dataset': pkg.id}) %}
      <button id="btnCompareRelease"
              style="display: none"
              type="button"
              class="btn btn-secondary"
              data-toggle="modal"
              data-target="#compareReleasesModal">
        {{ _('Compare Releases') }}
      </button>
      {% snippet 'package/snippets/compare_releases_modal.html', pkg=pkg %}
    {% endif %}
  {% endif %}

</div>
